


.main-header .navbar .sidebar-toggle:hover {
    color: white;
}

a {
    color: #000000;
    
}



.main-header .logo {
    background-color: #150b06;
    color: #fff;
    border-bottom: 0 solid transparent;
}


main-header .logo:hover{
  background-color: #150b06;
  
}


.main-header .navbar {
    background-color: #150b06;
}


 .main-header .navbar .sidebar-toggle {
    color: #FD0000;
}



.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #ebd116;
    background-color: #070276;
}

